@model ClassConnect.Models.LoginorSignUp
@{
    ViewData["Title"] = "Signup";
    Layout = "~/Views/Shared/LoginSignUpLayout.cshtml";
}

@*Student Sign Up*@

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3 border border-primary rounded p-5">


            <h1 class="text-center text-primary mb-4">Student Sign Up</h1>


            <form method="post" asp-action="SignUp">
                <div class="form-group">
                    <label asp-for="FullName">Full Name</label>
                    <input asp-for="FullName" type="text" class="form-control" autocomplete="off" required />
                    <span class="text-danger" asp-validation-for="FullName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Username">Username</label>
                    <input asp-for="Username" type="text" class="form-control" autocomplete="off" required />
                    <span class="text-danger" asp-validation-for="Username"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" type="email" class="form-control" autocomplete="off" required />
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" type="password" class="form-control" autocomplete="off" required />
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <span class="float-left">Already a member? <a asp-action="Index">Log In</a></span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-lg mb-1 float-right" autocomplete="off" value="SignUp" />
                </div>


            </form>


        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>