@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center m-5">
    <h1 class="form-control-plaintext">Welcome to ClassConnect</h1>
</div>
<div class="text-center m-5">
    <a class="btn btn-sm btn-primary btn-success"asp-area="" asp-controller="Instructor" asp-action="Index" >Instructor Login</a>
    <a class="btn btn-sm btn-primary btn-success"asp-area="" asp-controller="Student" asp-action="Index" >Student Login</a>
   
</div>
